.card {
  &__wrapper {
    margin: 20px 12px;
    min-width: 100px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid rgba(50, 50, 50, 0.25);
    box-shadow: 7px 7px rgba(0, 0, 0, 0.05);

    p,
    h3 {
      margin: 10px;
      margin-bottom: 0;
    }
  }

  &__svg {
    display: block;
    margin: auto;
  }

  &__day {
    text-align: center;
  }

  &__temp {
    text-align: center;
  }
}
