* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: rgba(110, 143, 160, 0.25);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
  }

  input {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
  }
}

.input {
  &__text {
    margin-right: 10px;
  }
}

.main {
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.question {
  width: 2rem;
  opacity: 0.5;

  &:hover {
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}

.github {
  margin-left: 0.5rem;
  margin-top: 3px;
  width: 2rem;
  height: 2rem;
}
